<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Header}">


<head>
    <meta charset="utf-8" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
            rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">


    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">

</head>


<!--==========================
    Livre section
  ============================-->

<body>

<main id="main">
    <section th:id="page">
        <div class="page-container">

            <h1>Details du livre</h1>

            <div class="cstyle">
                <table class="table listTableDeco">
                    <tbody>
                        <tr>
                            <td>Titre : </td>
                            <td th:text="${livre.titre}"></td>
                        </tr>
                        <tr>
                            <td>Nom de l'auteur : </td>
                            <td th:text="${livre.nomAuteur}"></td>
                        </tr>
                        <tr>
                            <td>Prénom de l'auteur : </td>
                            <td th:text="${livre.prenomAuteur}"></td>
                        </tr>
                        <tr>
                            <td>Date d'édition : </td>
                            <td th:text="${livre.dateEdition}"></td>
                        </tr>
                        <tr th:each="vcopie:${copie}">
                            <td>Nombres d'exemplaires disponibles : </td>
                            <td th:text="${vcopie.getNbCopies()}"></td>
                        </tr>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
<!-- #index -->

</body>
</html>