<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{Header}">


<head>
    <meta charset="utf-8" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
            rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">


    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">

</head>


<!--==========================
    Livre section
  ============================-->

<body>

<main id="main">
    <section th:id="page">
        <div class="page-container">

            <h1>Details du livre</h1>

            <div class="cstyle">
                <table class="table listTableDeco">
                    <tbody>
                        <tr>
                            <td>Titre : </td>
                            <td th:text="${livreBean.titre}"></td>
                        </tr>
                        <tr>
                            <td>Nom de l'auteur : </td>
                            <td th:text="${livreBean.nomAuteur}"></td>
                        </tr>
                        <tr>
                            <td>Prénom de l'auteur : </td>
                            <td th:text="${livreBean.prenomAuteur}"></td>
                        </tr>
                        <tr>
                            <td>Date d'édition : </td>
                            <td th:text="${#dates.format(livreBean.dateEdition, 'dd/MM/yyyy')}"></td>
                        </tr>
                        <tr>
                            <td>éditeur : </td>
                            <td th:text="${livreBean.editeur}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p></p>

            <div th:if="${validMessage != null}" class="alert-success" role="alert">
                <p th:text="${validMessage}"></p>
            </div>
            <div th:if="${messageErreur != null}" class="alert-warning" role="alert">
                <p th:text="${messageErreur}"></p>
            </div>

            <div class="cstyle" th:if="${nbCopiesDisponibles > 0}">
                <table class="table listTableDeco">
                    <thead>
                    <tr>
                        <th>Emprunt</th>
                        <th>Exemplaires disponibles :
                            <span th:if="${nbCopiesDisponibles > 0}">
                                <span th:text="${nbCopiesDisponibles}" style="color:#00FF00;"></span> /
                                <span th:text="${nbTTCopies}"></span>
                            </span>
                            <span th:if="${nbCopiesDisponibles == 0}">
                                <span th:text="${nbCopiesDisponibles}" style="color: #b21f2d"></span> /
                                <span th:text="${nbTTCopies}"></span>
                            </span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="n:${mCopies}">
                            <td th:if="${n.copie.isDisponible() == true && nbCopiesDisponibles > 0}">isbn :
                                <span th:text="${n.copie.isbn}"></span>
                            </td>
                            <td sec:authorize="isAuthenticated()">
                                <span th:if="${n.copie.isDisponible() == true && nbCopiesDisponibles > 0}">
                                    <form th:action="@{/emprunter/{id}(id=${n.copie.id})}" method="post">
                                        <button type="submit" onclick="return confirm('Confirmer emprunt')" class="btn-get-create">Emprunter</button>
                                    </form>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cstyle" th:if="${nbCopiesDisponibles == 0}">
                <table class="table listTableDeco">
                    <thead>
                    <tr>
                        <th th:if="${nbCopiesDisponibles == 0}"> Réservation</th>
                        <th th:if="${nbCopiesDisponibles == 0}">Liste d'attente :
                            <span th:if="${livreBean.nbReservations < livreBean.nbReservationsMax}">
                                <span th:text="${livreBean.nbReservations}" style="color:#00FF00;"></span> /
                                <span th:text="${livreBean.nbReservationsMax}"></span>
                            </span>
                            <span th:if="${livreBean.nbReservations == livreBean.nbReservationsMax}">
                                <span th:text="${livreBean.nbReservations}" style="color:#b21f2d;"></span> /
                                <span th:text="${livreBean.nbReservationsMax}"></span>
                            </span>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:if="${nbCopiesDisponibles == 0 && copieBeansDisponibles.size() == 0}">Date de retour : </td>
                        <td th:if="${nbCopiesDisponibles == 0 && copieBeansDisponibles.size() == 0}">
                            <span th:text="${#dates.format(livreBean.dateRetourLaPlusProche, 'dd/MM/yyyy')}"></span>
                        </td>
                        <span th:if="${livreBean.nbReservations < livreBean.nbReservationsMax}">
                            <td sec:authorize="isAuthenticated()">
                                <form th:action="@{/reserver/{id}(id=${livreBean.id})}" method="post">
                                    <button type="submit" onclick="return confirm('Confirmer reservation')" class="btn-get-create">reserver</button>
                                </form>
                            </td>
                        </span>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </section>
</main>
<!-- #index -->

</body>
</html>