<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Header}">


<head>
    <meta charset="utf-8" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
            rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">


    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<main id="main">
    <section th:id="page">
        <div class="page-container">
            <!--#Profil-->
            <h1>Mon Profil</h1>
            <div class="cstyle">
                <table class="table listTableDeco">
                    <tr>
                        <td>Pseudo : </td>
                        <td th:text="${utilisateurBean.pseudo}"></td>
                    </tr>
                    <tr>
                        <td>Email : </td>
                        <td th:text="${utilisateurBean.email}"></td>
                    </tr>
                </table>
            </div>

            <p></p>
            <div th:if="${validMessage != null}" class="alert-success" role="alert">
                <p th:text="${validMessage}"></p>
            </div>
            <div th:if="${messageErreur != null}" class="alert-warning" role="alert">
                <p th:text="${messageErreur}"></p>
            </div>
            <p></p>

            <h1>Mes Emprunts en cours</h1>

            <div class="cstyle">
                <table class="table listTableDeco">
                    <thead>
                    <tr>
                        <th>Date du prêt</th>
                        <th>Date de fin du prêt</th>
                        <th>Ouvrage emprunté</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mEmprunt:${empruntList}">
                        <td th:text="${#dates.format(mEmprunt.emprunt.dateDeDebutEmprunt, 'dd/MM/yyyy')}"></td>
                        <td th:text="${#dates.format(mEmprunt.emprunt.dateDeFinEmprunt, 'dd/MM/yyyy')}"></td>
                        <td th:text="${mEmprunt.livre.titre}"></td>
                        <td th:if="${(mEmprunt.emprunt.isProlongerEmprunt() == false) and (mEmprunt.emprunt.dateDeFinEmprunt>mEmprunt.emprunt.getDateDuJour())}">
                            <form th:action="@{/prolonger/{id}(id=${mEmprunt.copie.id})}" method="post">
                                <button type="submit" class="btn-get-create btn-xs ">Prolonger</button>
                            </form>
                        </td>
                        <td th:if="${mEmprunt.emprunt.isProlongerEmprunt()==true}">
                            <span style="color:gray">Prolongation en cours</span>
                        </td>
                        <td th:if="${mEmprunt.emprunt.dateDeFinEmprunt<mEmprunt.emprunt.getDateDuJour()}">
                            <span style="color:red">Délais dépassé !</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h1>Mes Réservations en cours</h1>
            <div class="cstyle">
                <table class="table listTableDeco">
                    <thead>
                    <tr>
                        <th>Date de la demande</th>
                        <th>Ouvrage reservé</th>
                        <th>Date de retour prévue de l'ouvrage</th>
                        <th>Position dans la liste d'attente</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mRs:${reservationList}">
                        <td th:text="${#dates.format(mRs.reservation.dateDeReservation, 'dd/MM/yyyy')}"></td>
                        <td th:text="${mRs.reservation.livreBean.titre}"></td>
                        <td th:text="${#dates.format(mRs.livre.get().getDateRetourLaPlusProche(), 'dd/MM/yyyy')}"></td>
                        <td th:text="${mRs.reservation.position}"></td>
                        <td>
                            <form th:action="@{/annuler/reserver/{id}(id=${mRs.reservation.id})}" method="post">
                                <button type="submit" onclick="return confirm('Confirmer annulation')" class="btn-get-create">annuler</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
</body>
</html>